<div [@routerAnimate]="boxState" (@routerAnimate.done)='routerAnimateCBack()'>
    <div style="text-align:center">
        <h1 style="color: #ff4868">
            {{ title }}
        </h1>
    </div>
    <div style="padding: 5px;">
        <button mat-raised-button color="warn" (click)="goBack()">返回</button>
        <button mat-raised-button color="warn" routerLink="/home/page1">next</button>
    </div>
    <div class='topLayout'>
        <div class='secondLayout'>
            <app-pet-introduce [pet]='choosePets[0]'></app-pet-introduce>
        </div>
        <div class='secondLayout'>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class='secondLayout'>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div class='center'>
        <button mat-raised-button color="warn" (click)='goNext()'>确认选择</button>
    </div>
</div>
