<div [@routerAnimate]="boxState" (@routerAnimate.done)='routerAnimateCBack()'>
    <mat-toolbar color="primary" style="min-height: 40px;">
        <mat-toolbar-row style="height: 40px;">
            <span>Third Line</span>
            <span class="example-spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <!-- <div style="display: flex; justify-content: flex-end;"> -->
    <div style="position: absolute; bottom: 0px; right: 0;">
        <div class='menuBar'>
            <div [@box]='menubox' (@box.done)='boxCBack()'>
                <mat-toolbar color="primary">
                    <mat-toolbar-row>
                        <button mat-fab (click)='menuClick()'>
                            <mat-icon>bag</mat-icon>
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>

            <button mat-fab (click)='menuClick()'>
                <mat-icon>apps</mat-icon>
            </button>
        </div>
    </div>

</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>设置</span>
    </button>
    <button mat-menu-item (click)='openSnackBar()'>
        <mat-icon>save</mat-icon>
        <span>存档</span>
    </button>
    <button mat-menu-item (click)='goHome()'>
        <mat-icon>home</mat-icon>
        <span>回到首页</span>
    </button>
</mat-menu>