<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                宠物介绍
            </mat-panel-title>
            <mat-panel-description>
                pet
            </mat-panel-description>
        </mat-expansion-panel-header>
        
        <app-menu-introduce [introduceList]='introduceList_pet'></app-menu-introduce>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                宠物BUFF介绍
            </mat-panel-title>
            <mat-panel-description>
                buff debuff
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>

                    <mat-panel-title>
                        BUFF
                    </mat-panel-title>
                    <mat-panel-description>
                        增益效果
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <app-menu-introduce [introduceList]='introduceList_petBuff_buff'></app-menu-introduce>

            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        DEBUFF
                    </mat-panel-title>
                    <mat-panel-description>
                        减益效果
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <app-menu-introduce [introduceList]='introduceList_petBuff_deBuff'></app-menu-introduce>

            </mat-expansion-panel>
        </mat-accordion>

    </mat-expansion-panel>
</mat-accordion>